<% if(typeof errors != 'undefined') {%>
    <% errors.forEach(function (error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
        </div>
    <%});%>
<% }%>


