<!doctype html>
<head>
    <title>Emotion detection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/natural@6.2.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js" integrity="sha512-+sCoGPlbKDblqf1cdtmOKPXQOThQgrBYXdkqFvnMijTnPQ6J2NoaqUQNVSzJl/m2ArGFGN0soa/pKKioLBVdwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.dark.min.css" integrity="sha512-mBHbS6kD/getK5vUTRNDHPJYvJsFl1VTBEa8M0iT3eGS6D5fcEl6hCBLOeY1k4k2JS/cdlwUy7LC14BSbVUBzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" integrity="sha512-S7pFEiuqxNHcuJqa+h7Qkb64Xi8OsJuomfvHDrlYngmQ69rLlhtqxbOFQ4oUB/IwmrIsUjRt75MGFZD049mskg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .form {
            border: 3px solid #f1f1f1;
            padding-inline:20%
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
            .cancelbtn {
                width: 100%;
            }
        }
        #log{
            display: inline;
        }
    </style>

</head>

<body style="background-color: hsl(0, 0%, 93%)">
<%-include('navbar')%>
<div  class="card-body py-5 px-md-5">
    <div  class="form">
        <div id="emotions"></div>
        <div class="container">
            <h2>Edit your today's submit</h2>
            <p></p>
        </div>
        <br>
        <form action="/emotions/edit" method="post" style="width: 100%">
            <textarea placeholder="Edit your text" id="input" name="text" rows="3" class="form-control" style="resize: none; height: auto;"><%=today.text%></textarea>

            <div id=""><h3></h3><h3 style="display: none" id="predictions"></h3></div>
        </form>
        <div style="display: flex">
            <button class="btn btn-secondary disabled btn-lg" id="button" onclick="" type="submit">Edit</button>
            <button class="btn btn-danger btn-lg" id="button" onclick="deleteOne()">Delete</button>
        </div>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
    </div>
</div>
</script>
<script>
    const textarea = document.getElementById('input');
    textarea.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
    function deleteOne(){
        event.preventDefault();
        fetch('/delete', {
            method: 'get',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => {
                window.location.href = '/';
                if (response.ok) {
                    console.log('Data deleted successfully!');
                } else {
                    console.log('Error deleting data');
                }
            })
            .catch(error => console.error(error));
    }
</script>
<script>



</script>
</body>